# Accio is a platform to launch computer science experiments.
# Copyright (C) 2016-2018 Vincent Primault <v.primault@ucl.ac.uk>
#
# Accio is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Accio is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Accio.  If not, see <http://www.gnu.org/licenses/>.

# This file is only a template to help you get start with running Accio with systemd.
# Please take time to customize it according to your needs!
# Configuration documentation : https://privamov.github.io/accio/deploy/configuration.html

[Unit]
Description=Accio agent

[Service]
ExecStartPre=/bin/mkdir -p /var/lib/accio-agent
ExecStart=/usr/bin/java \
  -Xms3G \
  -Xmx3G \
  -server \
  -jar /opt/accio-agent.jar \
    -executor_uri=/opt/accio-executor.jar \
    -datadir=/var/lib/accio-agent \
    -thrift.port="":9999" \
    -admin.port=":9990" \
    -storage.type=mysql \
    -storage.mysql.server=localhost:3306 \
    -storage.mysql.user=accio \
    -storage.mysql.password=secret \
    -storage.mysql.database=accio
Restart=on-failure

[Install]
WantedBy=multi-user.target
