body {
  padding-top: 60px;
}

h1 {
  font-size: 30px !important;
}

.section-title {
  font-size: 34px !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.page-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 21px !important;
}

h4 {
  font-size: 18px !important;
}

.section-title {
  margin-top: 0;
  background-color: #f7f7f7;
  padding: 15px;
}

.page-title {
  margin-top: 0;
}

footer {
  border-top: 1px solid #EEE;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}