body {
  padding-top: 75px;
}

.page-title {
  font-size: 34px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
  margin-bottom: 20px;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 20px !important;
  text-indent: 15px;
  font-style: italic;
}

h4 {
  font-size: 18px !important;

}

.section-title {
  margin-top: 0;
  background-color: #f7f7f7;
  padding: 15px;
}

.page-title {
  margin-top: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #EEE;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.sidebar .nav>li>a {
  padding: 3px 15px;
}
