html {
  height: 100%;
}

body {
  padding-top: 75px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-title {
  margin-top: 0;
  margin-bottom: 30px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #EEE;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

footer .license {
  font-size: 0.8em;
  color: #ADADAD;
}

#content {
  margin-top: 15px;
  flex: 1;
}

/**
 * Home page.
 */
.jumbotron {
  text-align: center;
}

.jumbotron p {
  margin-top: 40px;
}

.jumbotron h1 {
  font-size: 40px !important;
}

.jumbotron .btn {
   font-size: 16px;
}

.features-summary {
    margin-top: 15px;
}

.features-summary p {
  padding-right: 15px;
  text-align: justify;
}

.features-summary h3 {
    border: 0;
    font-size: 24px;
}

/**
 * Docs section.
 */
#page h2 {
  font-size: 28px;
  margin-top: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}

#page h3 {
  margin-top: 25px !important;
  font-size: 24px !important;
  font-style: italic;
}

/* Space between list items for better readability... */
#page li {
  margin-top: 10px;
}
/* ... but not for the table of contents */
#page #markdown-toc li {
  margin-top: 0;
}

/* Sidebar with smaller grey links */
.docs-sidebar {
  padding-right: 15px;
}

.docs-sidebar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.docs-menu {
  list-style-type: none;
  padding-left: 15px;
}

.docs-menu a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9em;
  color: #767676;
}

.docs-menu li.active > a {
  color: #18bc9c;
}

.docs-menu ul { /* Sub-menu, with additional indentation */
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}
