body {
  padding-top: 75px;
}

h2 {
  font-size: 28px !important;
  margin-top: 35px !important;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}

h3 {
  margin-top: 25px !important;
  font-size: 24px !important;
  font-style: italic;
}

.section-title {
  margin-top: 0;
  background-color: #f7f7f7;
  padding: 15px;
}

.page-title {
  margin-top: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #EEE;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#content {
  margin-top: 15px;
}

/**
 * Home page.
 */
.jumbotron {
  text-align: center;
}

.page-title {
  margin-bottom: 30px;
}

/**
 * Docs section.
 */
/* Space between list items for better readability... */
#page li {
  margin-top: 10px;
}
/* ... but not for the table of contents */
#page #markdown-toc li {
  margin-top: 0;
}

/* Sidebar with smaller grey links */
.docs-sidebar {
  padding-right: 15px;
}

.docs-sidebar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.docs-menu {
  list-style-type: none;
  padding-left: 15px;
}

.docs-menu a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9em;
  color: #767676;
}

.docs-menu li.active > a {
  color: #18bc9c;
}

.docs-menu ul { /* Sub-menu, with additional indentation */
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}
