[Unit]
Description=Accio gateway

[Service]
ExecStart=/usr/bin/java \
  -Xmx2G \
  -Xms2G \
  -server \
  -jar /opt/accio-gateway.jar \
    -ui \
    -agent.server=localhost:9999 \
    -admin.port=":9991" \
    -http.port=":80"
Restart=on-failure

[Install]
WantedBy=multi-user.target
