# Accio is a platform to launch computer science experiments.
# Copyright (C) 2016-2018 Vincent Primault <v.primault@ucl.ac.uk>
#
# Accio is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Accio is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Accio.  If not, see <http://www.gnu.org/licenses/>.

common --color=yes
build --strategy=Scalac=worker
test --strategy=Scalac=worker
build --workspace_status_command=tools/print-workspace-status.sh

# Ignore problematic directories (because they may contain files named BUILD, which messes
# up with Bazel).
build --deleted_packages .git,3rdparty/node_modules/polybooljs,3rdparty/node_modules/rxjs/src,3rdparty/node_modules/listr/node_modules/rxjs/src/ajax,3rdparty/node_modules/listr/node_modules/rxjs/src/testing,3rdparty/node_modules/listr/node_modules/rxjs/src/webSocket,3rdparty/node_modules/listr/node_modules/rxjs/src,3rdparty/node_modules/listr/node_modules/rxjs/src/operators

# Here follow the configuration relevant for continuous integration services.
# Run with: bazel test --config=ci
common:ci --color=no
build:ci --verbose_failures
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --genrule_strategy=standalone
build:ci --noshow_progress
build:ci --noshow_loading_progress
test:ci --test_strategy=standalone
test:ci --test_output=errors